@charset "UTF-8";

/*Palette:
purple = color: #495867;
#C18C5D = orange
#ECC8AF = pale yellow*/

html,
body {
  margin: 0;
  width: 100%;
}

.spacer-small {
  margin-top: 100px;
}

.spacer-large {
  margin-top: 200px;
}

.yellow-bg {
  background-color: #ECC8AF;
}

.purple-bg {
  background-color: #495867;
}

/* Text Styles */
h1 {
  font-family: glegoo;
  font-weight: bold;
  color: #495867;
  font-size: 48px;
  float: right; 
  padding-right: 5%;
  text-shadow: 0 1px 0 rgba(255,255,255,.3), 0 -1px 0 rgba(0,0,0,.7);
}

h2 {
  font-family: glegoo;
  font-weight: bold;
  color: #000;
  font-size: 44px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
h3 {
  font-family: glegoo;
  font-weight: bold;
  color: #fff; 
  font-size: 32px;
}

h4 {
  font-family: glegoo;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}
h5 {
  font-family: glegoo;
  font-weight: bold;
  color: #fff;
  font-size: 32px;
}

h6 {
  font-family: glegoo;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

p {
  font-family: cantarell;
  text-align: justify;
}

a:link {
  font-family: cantarell;
  color: white;
  padding-left: 2rem;
  text-align: center;
  text-decoration: none;
  text-decoration-color: transparent;
  transition: 0.8s;
}
.a-menu:visited {
  font-family: cantarell;
  color: white;
  text-decoration: none;
  padding-left: 2rem;
  text-align: center;
}
.a-menu:hover {
  font-family: cantarell;
  color: #C18C5D;
  text-decoration: none;
}
.a-menu:active {
  color: white;
  text-decoration: underline;
}

/* Menu styling */
.navbar {
  padding-top: 20px;
  padding-left: 40px;
  margin: -15px;
  background-color: #495867;
  font-family: glegoo;
  color: white;
}

/*  hero image */
.hero-image {
  background-image:linear-gradient(to bottom right, rgba(61, 64, 91, 0.3), rgba(224, 122, 95, 0.2)), url("../images/Cover-photo.jpeg");

  /* Set a specific height */
  height: 968px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -3%;
  z-index: -1;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* hero column area */
.column {
  float: left;
  width: 37%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  margin-top: 80px;
  margin-left: 100px;
  margin-bottom: 100px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.02);
}

.title-column {
  float: right;
  width: 100%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: transparent;
}

/* Responsive layout - 600px */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Software Competencies grid layout*/

.icon {
  color :#495867;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
}

.grid-container > div {
  border-radius: 2rem;
  text-align: center;
  padding: 30px 0;
  margin: 0.5%;
  font-size: 30px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.02);
}
.grid-title {
  font-size: 24px;
  font-weight: bold;
  font-family: cantarell ;
}

.grid-text {
  font-size: 18px;
  font-style: italic;
  font-family: cantarell;
  text-align: justify;
}

/* Responsive layout - 600px */
@media screen and (max-width: 600px) {
  .grid-container {
    width: 100%;
  }
}

/*Work Experience section*/
.table {
  font-family: cantarell;
}
.exp-table-left {
  text-align: right;
  padding-right: 2rem;
  padding-top: 1rem;
  white-space: nowrap;
  font-size: 16pt;
}

.exp-table-right {
  text-align: left;
  padding-left: 2rem;
  padding-top: 1.5rem;
  font-style: italic;
}

.exp-table-date {
  font-weight: bold;
  font-size: 14pt;
}
/*end of Work Experience section*/

/*Carousel Section*/
.carousel {
  --current-slide: 0;
  width: 90%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding: 0;
  margin: 0.5rem;

  color: #C18C5D;

  border-radius: 50%;
  border: none;
  background: transparent;

  cursor: pointer;
  z-index: 1;
}

.carousel-button:hover {
  opacity: 0.5;
  transition: color 0.2s;
}

.carousel-button_next {
  right: 0;
}

.carousel-slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.carousel-slide {
  flex: 0 0 100%;
  /*this is a  carousel breaking property*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add a container for the text */

.carousel-text {
  width: 80%;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white; padding: 10px;
  margin: auto;
}

/* Style the text */
.carousel-text h4 {
  margin: 0.5rem;
  font-size: 16px;
}

.carousel-text p {
  margin: 0.5rem;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .carousel-button {
    font-size: 2rem;
    margin: 1rem;
  }
}

/*end of Carousel Section*/

/*Get in touch section*/
.contact-columns {
  columns: 2;
  width: 100%;
  margin: 0;
}
.contact-column-buttons {
  width: 50%;
  padding: 10px;
  background-color: transparent;
  border-radius: 25px;
  margin-top: 0;
  margin-left: 75px;
  margin-bottom: 100px;
}

.contact-column-bio {
  float: right;
  width: 100%;
  padding: 10px 50px 100px;
  background-color: #C18C5D;
  border-radius: 25px;
  margin: -100px 30px 100px 75px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  overflow:hidden;
}

.bio-text {
  width: 80%;
  border-radius: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

.bio-photo {
  width: 80%;
  border-radius: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

.contact-button {
  padding: 10px 50px 10px 50px;
  overflow: hidden;
  white-space: nowrap;
  

  margin: 30px 30px 30px 30px ;
  background-color: #C18C5D;

  border: transparent;
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);

  font-size: 18pt;
  font-family: glegoo;
  text-align: center;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: transparent;

}

.contact-button:hover{
  opacity: 0.9;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.9s;
}
/*end of Get in touch section*/
